apiVersion: v1
kind: Service
metadata:
  name: {{ustoj_backend_api_service_name}}
spec:
  type: NodePort
  selector:
    app: ustoj-master
  ports:
    - protocol: TCP
      nodePort: 30002
      targetPort: {{api_server_port}}
      port: 8088