apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ustoj_master_cm_name }}
data:
  config.yaml: |
    server:
        port: {{api_server_port}}

    datasource:
        driverName: mysql
        host: {{ database_service_name }}
        port: {{ database_port }}
        database: {{ database_name }}
        username: {{ database_user }}
        password: {{ database_password }}
        charset: utf8

    logger:
        writeFile: true
        level: info

    scheduler:
        dispatchInterval: 2
        dispatchNum: 8
        readResultInterval: 4
        jobPvcName: {{ustoj_master_data_pvc_name}}

    dataPath:
        submitPath: {{data_pod_path}}/submit/

    const:
        delimiter: ","

    kubernetes:
        masterUrl: https://{{groups['masterServer'][0]}}:6443
        masterConfig: /etc/kubernetes/admin.conf