apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ustoj_master_cm_name }}
data:
  config.yaml: |
    database:
        user: {{ database_user }}
        password: {{ database_password }}
        address: {{ database_service_name }}
        port: {{ database_port }}