apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ustoj_frontend_cm_name }}
data:
  config.json: |
    {
      "jwt_token": "{{ustoj_jwt_token}}",
      "backend_address": "{{ustoj_backend_api_service_name}}",
      "front_port": "{{ustoj_frontend_port}}"
    }