apiVersion: apps/v1
kind: Deployment
metadata:
  name: ustoj-master-deployment
  labels:
    app: ustoj-master-deployment
spec:
  replicas: {{ ustoj_master_replicas }}
  selector:
    matchLabels:
      app: ustoj-master
  template:
    metadata:
      labels:
        app: ustoj-master
    spec:
      nodeSelector: 
        ustoj: master
      containers:
      - name: ustoj-master
        image: {{ ustoj_master_image }}:{{ ustoj_master_image_version }}
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: {{ data_pod_path }}
          name: ustoj-master-data-hostpath
        - mountPath: /etc/ustoj/master/config
          name: ustoj-master-config
        # ports:
        # - containerPort: 80
      volumes:
      - name: ustoj-master-data-hostpath
        hostPath:
            path: {{ data_host_path }}
      - name: ustoj-master-config
        configMap:
          name: {{ ustoj_master_cm_name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ustoj-master-ticker-deployment
  labels:
    app: ustoj-master-ticker-deployment
spec:
  replicas: {{ ustoj_master_ticker_replicas }}
  selector:
    matchLabels:
      app: ustoj-master-ticker
  template:
    metadata:
      labels:
        app: ustoj-master-ticker
    spec:
      nodeSelector: 
        ustoj: master
      containers:
      - name: ustoj-master-ticker
        image: {{ ustoj_master_ticker_image }}:{{ ustoj_master_ticker_image_version }}
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: {{ data_pod_path }}
          name: ustoj-master-data-hostpath
        - mountPath: /etc/ustoj/master/config
          name: ustoj-master-config
        - mountPath: /etc/kubernetes/
          name: k8s-admin-conf
          readOnly: true
      volumes:
      - name: ustoj-master-data-hostpath
        hostPath:
            path: {{ data_host_path }}
      - name: ustoj-master-config
        configMap:
          name: {{ ustoj_master_cm_name }}
      - name: k8s-admin-conf
        secret:
          secretName: {{ k8s_admin_secret_name }}