apiVersion: v1
kind: Service
metadata:
  name: ustoj-frontend-service
spec:
  type: NodePort
  selector:
    app: ustoj-frontend
  ports:
    - protocol: TCP
      nodePort: 30000
      port: 8080
      targetPort: {{ustoj_frontend_port}}